<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title class="titulo-principal">pagina simples</title>
    <link href="./estilo.css" rel="stylesheet"> 
 </head>
    <body>
    <h1>Pagina Apenas Para Teste</h1>
    <form class="formulario">
        <fieldset>
            <legend>Formulario para contato</legend>
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="senha" />
            <button type="submit" class="botao-de-envio">Enviar</button>
        </fieldset>
    </form>
    <img class="img" src="/imagens/escritorio.jpg" alt="imagem de um escrtorio"/>
  </body>
</html>